@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  animation: blink 2s infinite;
  height: 30px;
}

.textLoadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailsContainer {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.detailsContainer > * {
  margin: 10px 0px;
}
