#experience {
  gap: 5rem;
  min-height: 100vh;
  position: relative;
}

.aboutContainers {
  gap: 2rem;
  margin: 2rem;
  display: flex;
}

.textContainer {
  text-align: center;
  margin: 2rem 8rem;
}

.aboutDetailsContainer {
  justify-content: center;
  flex-direction: column;
}

.about-pic {
  border-radius: 2rem;
}

@media screen and (min-width: 801px) and (max-width: 1500px) {
  .aboutContainers {
    display: grid;
    grid-template-columns: 350px 350px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
  }

  #about {
    height: 100%;
  }

  .detailsContainer {
    /* need height to keep height of grid to remain same */
    height: 100%;
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .aboutContainers {
    display: grid;
    grid-template-columns: 350px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
  }
}
