#about {
  height: 100vh;
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin: 2rem;
  display: flex;
}

.text-container {
  text-align: center;
  margin: 2rem 8rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: 0%;
  bottom: 0rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

@media screen and (max-width: 1500px) {
  .about-containers {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-columns: 350px 350px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
  }

  .details-container {
    height: 100%;
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
}
