#projects {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 1500px) {
  .about-containers {
    display: grid;
    grid-template-columns: 350px 350px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
  }

  .details-container {
    /* need height to keep height of grid to remain same */
    height: 100%;
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
}
